@tailwind base;
@tailwind components;
@tailwind utilities;

.bhover{
  transition: all 0.1s ease-in;
}

.bhover:hover{
  transform:scale(120%)
}

.bhover:active{
  transform:scale(80%)
}


p,li{
  color: #3B3C4A;
font-size: 20px;
line-height: 32px
}

h2{
  color:  #181A2A;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px
}